body {
    background-color: white;
}

.container {
    border: 1px solid #ddd;
    padding: 25px;
    margin-top: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 28px;
}

label {
    font-size: 14px;
}

.invalid-feedback {
    font-size: 12px;
}